
:root {
  --primary-color: black;
  --background: white;
  --secondary-color: white;
  --icons: gray;
  --hover_head: #eff2f5 ;
  --blue: #2e81f4;
}

[data-theme='dark']{
  --primary-color: white;
  --secondary-color: 		#18191a;
  --icons: white;
  --hover_head: #3a3b3c ;
  --blue: #2e81f4;
  --background:	#242526;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:  all 0.3s ease-in-out;
 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .app_Body{
    padding: .50rem;
  }
  .app_Body{
    display: flex;
    align-items: start;
  }
  .container{
    background-color: var(  --background);
  }